<section class="specification-section">

    <h3>Specification</h3>

    <div class="border border-2 p-3 mt-4">

        <div class="row mb-3">
            <p class="fw-bold col-md-1">Rlease Date : </p>
            <p class="col-md-7">{{ phone.release_date }}</p>
        </div>

        <div class="row mb-3">
            <p class="fw-bold col-md-1">OS : </p>
            <p class="col-md-7">{{ phone.os }}</p>
        </div>

        <div class="row mb-3">
            <p class="fw-bold col-md-1">CPU : </p>
            <p class="col-md-7">{{ phone.cpu }}</p>
        </div>

        <div class="row mb-3">
            <p class="fw-bold col-md-1">Dimension : </p>
            <p class="col-md-7">{{ phone.dimension }}</p>
        </div>

        <div class="row mb-3">
            <p class="fw-bold col-md-1">Screen : </p>
            <p class="col-md-7">{{ phone.screen }}</p>
        </div>

        <div class="row mb-3">
            <p class="fw-bold col-md-1">Battery : </p>
            <p class="col-md-7">{{ phone.battery }}</p>
        </div>

        <div class="row mb-3">
            <p class="fw-bold col-md-1">Network : </p>
            <p class="col-md-7">{{ phone.network }}</p>
        </div>

        <div class="row mb-3">
            <p class="fw-bold col-md-1">WiFi : </p>
            <p class="col-md-7">{{ phone.wifi }}</p>
        </div>

        <div class="row mb-3">
            <p class="fw-bold col-md-1">Sim Type : </p>
            <p class="col-md-7">{{ phone.sim_type }}</p>
        </div>
        
    </div>
</section>