<div>
    <p class="fw-bolder">Location</p>
    <div class="address-box d-flex align-items-center mb-2">
        <i class="fa-solid fa-location-dot me-3"></i>
        <span>
            No-20, Marlamyaing Street, Bauktaw Quarter <br>
            Yankin Township, Yangon, Myanmar.
        </span>
    </div>
    <div class="mail-box d-flex align-items-center mb-2">
        <i class="fa-solid fa-envelope me-3"></i>
        <a href="mailto:ayechanzaw@gmail.com" class="text-decoration-none text-white">ayechanzaw@gmail.com</a>
    </div>
    <div class="phone-box d-flex align-items-center mb-2">
        <i class="fa-solid fa-phone-volume me-3"></i>
        <a href="tel:09979247005" class="text-decoration-none text-white">09979247005</a>
    </div>
</div>