{% load static %}
<div>
    <div class="social mb-4">
        <p class="fw-bolder">Follow Us On Social</p>
        <div class="social-icon d-flex fs-3">
            <a href="#"><i class="fa-brands fa-instagram me-2 text-white"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter me-2 text-white"></i></a>
            <a href="#"><i class="fa-brands fa-square-facebook me-2 text-white"></i></a>
        </div>
    </div>
    <div class="payment">
        <p class="fw-bolder">Payment Methods</p>
        <div class="method-img">
            <img src="{% static "img/pay1.jpg" %}" class="me-2" alt="">
            <img src="{% static "img/pay2.jpg" %}" class="me-2" alt="">
            <img src="{% static "img/pay3.jpg" %}" class="me-2" alt="">
            <img src="{% static "img/pay4.jpg" %}" class="me-2" alt="">
            <img src="{% static "img/pay5.jpg" %}" class="me-2" alt="">
            <img src="{% static "img/pay6.jpg" %}" class="me-2" alt="">
        </div>
    </div>
</div>