{% extends "dashboard/navpane.html" %}
{% block title %}Phone List{% endblock  %}
{% block content %}

    {{ block.super }}

    <div class="bg-white border border-3 border-grey py-4 px-4 mt-5 col-md-8" style="border-radius: 50px">
        <div class="d-flex justify-content-between my-5">
            <h1 class="h2">Our Phones</h1>
            <button class="btn rounded btn-color"><a class="text-decoration-none text-black fw-bold" href={% url "dashboard:insert_phone" %}>New Phone <i class="fa-solid fa-plus"></i></a></button>
        </div>
        <div class="border border-2 border-grey overflow-hidden" style="border-radius: 10px">
            <table class="table table-hover table-borderless">
                <thead class="table-secondary">
                    <tr>
                        <th class="fw-normal">Brand</th>
                        <th class="fw-normal">Model</th>
                        <th class="fw-normal">Ram/Storage</th>
                        <th class="fw-normal">Stock</th>
                        <th class="fw-normal">Color</th>
                        <th class="fw-normal">Price</th>
                        <th class="fw-normal">Action</th>
                    </tr>
                </thead>
                <tbody class="">
                    {% for phone in phones  %}
                        <tr class="">
                            <td>{{ phone.brand }}</td>
                            <td>{{ phone }}</td>
                            <td class="text-uppercase">{{ phone.ram }} / {{ phone.storage }}</td>
                            <td>{{ phone.instock }}</td>
                            <td>{{ phone.color }}</td>
                            <td>{{ phone.price }} MMK</td>
                            <td class="">
                                <a href="update/{{ phone }}"><i class="fa-solid fa-pen-to-square text-secondary"></i></a>
                                <a href="delete/{{ phone }}"><i class="fa-solid fa-trash text-secondary"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock  %}
